TESTING_SET_PATH_NAME = "data/test.json"
MODEL_PATH_NAME = "data/AlexnetTiny/ep296_train94_val925/iceberg.ckpt"
SUMMARY_FILE_PATH_NAME = "temp/answerlog.csv"

def GetAnswer(icenetOutput_):
	icebergProbability = icenetOutput_[0][1]
	if icebergProbability < 0.3:
		return 0.0

	elif icebergProbability >= 0.7:
		return 1.0

	else:
		return icebergProbability
