TRAINING_SET_PATH_NAME = "data/train.json"
VALIDATION_RATIO = 0.1

BATCH_SIZE = 100

EPOCHS_TO_START_SAVE_WEIGHTINGS = 200

MAX_TRAINING_EPOCH = 500

'''
    Following can be used to customize learning rate,
    you can either use tf.train.exponetial_decay().
'''
LIST_OF_EPOCH_LEARNING_RATE_PAIRS = [ (0, 1e-4) ]
#LIST_OF_EPOCH_LEARNING_RATE_PAIRS = [ (0, 1e-4), (200, 1e-5), (300, 1e-6) ]
def GetLearningRate(currentEpoch_):
	for eachPair in reversed(LIST_OF_EPOCH_LEARNING_RATE_PAIRS):
		if currentEpoch_ >= eachPair[0]:
			return eachPair[1]

	# If nothing matched, return the first pair.learningRate as default
	return trainSettings.LIST_OF_EPOCH_LEARNING_RATE_PAIRS[0][1] 
